{% extends 'base.html' %}

{% block content %}

    <h1>PASCASARJANA</h1>
    <h2>Terdiri dari :</h2>
    <h3>Program Magister (S2)</h3>
    <p>1. Pendidikan Bahasa Indonesia</p>
    <p>2. Teknologi Pendidikan</p>
    <p>a. Konsentrasi Manajemen Pendidikan</p>
    <p>b. Konsentrasi PAUD</p>
    <p>3. Hukum</p>
    <p>a. Konsentrasi Hukum Pidana</p>
    <p>b. Konsentrasi Hukum Perdata</p>
    <p>c. Konsentrasi Hukum Tata Negara</p>
    <p>d. Konsentrasi Hukum Kesehatan</p>
    <p>4. Administrasi Publik</p>
    <p>5. Akuntansi</p>
    <p>6. Manajemen</p>
    <p>a. Konsentrasi Manajemen Pemasaran</p>
    <p>b. Konsentrasi Manajemen SDM</p>
    <p>c. Konsentrasi Manajemen Keuangan</p>
    <p>7. Pendidikan Bahasa Inggris</p>
    <p>8. Pendidikan Matematika</p>
    <p>9. Ilmu Pertanian</p>
    <p>10. Ilmu Komunikasi</p>
    <p>11. Teknik Kimia</p>
    <p>12. Pendidikan Dasar</p>
    <p>13. Ekonomi</p>
    <h3>Program Doktor (S3)</h3>
    <p>1. Program Studi Doktor Pendidikan</p>
    <p>2. Program Studi Doktor Ilmu Akuntansi</p>
    <p>3. Program Studi Doktor Ilmu Pertanian</p>
    
{% endblock %}