{% extends 'base.html' %}

{% block content %}

    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari prodi :</h2>
    <p>1. Pendidikan Matematika</p>
    <p>2. Pendidikan Biologi</p>
    <p>3. Pendidikan Kimia</p>
    <p>4. Pendidikan Fisika</p>
    <p>5. Pendidikan Non Formal</p>
    <p>6. Pendidikan Bahasa Indonesia</p>
    <p>7. Pendidikan Bahasa Inggris</p>
    <p>8. Pendidikan Guru Sekolah Dasar</p>
    <p>9. Pendidikan Guru Pendidikan Anak Usia Dini</p>
    <p>10. Pendidikan Ilmu Pengetahuan Alam</p>
    <p>11. Pendidikan Khusus</p>
    <p>12. Pendidikan Pancasila dan Kewarganegaraan</p>
    <p>13. Pendidikan Sejarah</p>
    <p>14. Pendidikan Seni Pertunjukan</p>
    <p>15. Pendidikan Sosiologi</p>
    <p>16. Pendidikan Vokasional Teknik Mesin</p>
    <p>17. Pendidikan Vokasional Teknik Elektro</p>
    <p>18. Bimbingan Konseling</p>
    
{% endblock %}